<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="System_Library_MVP_Cours_Mahmoud_Bakr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <System_Library_MVP_Cours_Mahmoud_Bakr.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>DBLibraryMVPCours</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Sql Server  Authentication</value>
            </setting>
            <setting name="DBLibraryMVPCoursConnectionString" serializeAs="String">
                <value>Data Source=Abdelaziz\SQLEXPRESS;Initial Catalog=DBLibraryMVPCours;Persist Security Info=True;User ID=AbdelazizServer;Password=AbdelazizServer</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Abdelaziz\SQLEXPRESS</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>AbdelazizServer</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AbdelazizServer</value>
            </setting>
        </System_Library_MVP_Cours_Mahmoud_Bakr.Properties.Settings>
    </userSettings>
</configuration>